<!DOCTYPE html>
<div class="center">
	<div class="content">
		<h1>Some stuff I've made</h1>
		<div class="row">
			<div class="card third">
				<h3>Project 1</h3>
				<p>LOREM IPS POSAJFLKASJFD</p>
				<a href="#">Click here</a>
			</div>
			<div class="card third">
                                <h3>Project 1</h3>
                                <p>LOREM IPS POSAJFLKASJFD</p>
                                <a href="#">Click here</a>
                        </div>
			<div class="card third">
                                <h3>Project 1</h3>
                                <p>LOREM IPS POSAJFLKASJFD</p>
                                <a href="#">Click here</a>
                        </div>
			<div class="card third">
                                <h3>Project 1</h3>
                                <p>LOREM IPS POSAJFLKASJFD</p>
                                <a href="#">Click here</a>
                        </div>
			<div class="card third">
                                <h3>Project 1</h3>
                                <p>LOREM IPS POSAJFLKASJFD</p>
                                <a href="#">Click here</a>
                        </div>
			<div class="card third">
                                <h3>Project 1</h3>
                                <p>LOREM IPS POSAJFLKASJFD</p>
                                <a href="#">Click here</a>
                        </div>
		</div>
	</div>
</div>
