<!DOCTYPE html>
<div class="center" id="projects">
	<div class="content">
                <div class="roW">
                        <h1>I code stuff for fun</h1>
                        <p>I'm constantly learning new technologies and exploring more of this IT world! You can contact me by clicking <a class="ctc" href="#contacto">here</a> :)</p>
                </div>
		<h1>Some stuff I've made</h1>
		<div class="row">
			<div class="card third">
				<a href="https://github.com/siengrain/libdb" target="_blank">	
					<h3>Libdb</h3>
				</a>
				<h6>Web app that stores the books you've read!</h6>
				<p>HTML CSS Flask Python MySQL Bootstrap</p>
			</div>
			<div class="card third">
				<a href="https://github.com/siengrain/pytimer" target="_blank">
                                	<h3>Pytimer</h3>
				</a>
                                <h6>Timer with GUI</h6>
                                <p>Python TkInter</p>
                        </div>	
			<div class="card third">
				<a href="https://github.com/siengrain/to2er" target="_blank">
                                	<h3>To2er</h3>
				</a>
                                <h6>Web app task manager</h6>
                                <p>HTML CSS Flask Python MySQL</p>
                        </div>  	
			<div class="card third">
				<a href="https://github.com/siengrain/c-timer" target="_blank">
                                	<h3>C-Timer</h3>
				</a>
                                <h6>Console based timer</h6>
                                <p>C</p>
                        </div>	
			<div class="card third">
				<a href="https://github.com/siengrain/gondle" target="_blank">
                                	<h3>Gondle</h3>
				</a>
                                <h6>Console based Wordle</h6>
                                <p>Python</p>
                        </div>	
			<div class="card third">
				<a href="https://github.com/siengrain/pwm" target="_blank">
                                	<h3>Pwm</h3>
				</a>
                                <h6>Password manager with GUI</h6>
                                <p>Python TkInter sqlite</p>
                        </div>
		</div>
	</div>
</div>
